  #chromize {
    display: none;
    font-size: 10pt;
  }
  #chromize .mask {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 32766;
  }
  #chromize .dialog {
    position: absolute;
    height: 210px;
    width: 280px;
    border: 2px solid black;
    border-radius: 15px;
    padding: 5px;
    z-index: 32767;
    background-color: white;
  }
  #chromize .centering {
    top: 50%; left: 50%; margin: -100px 0 0 -150px;
  }
  #chromize .dialog ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  #chromize .dialog ul li {
    top: 48px;
    left: 0px;
    line-height: noraml
    padding: 0;
  }
  #chromize .dialog ul li a {
    display: block;
    height: 64px;
    overflow: hidden;
    width: 280px;
  }
  #chromize .dialog .list-item {
    display: table;
    height: 64px;
    width: 280px;
  }
  #chromize .dialog .icon {
    display: table-cell;
    height: 64px;
    width: 64px;
  }
  #chromize .dialog .icon-play {
    background: url("./play.png") center no-repeat;
    background-size: contain;
  }
  #chromize .dialog .icon-chrome {
    background: url("./chrome.png") center no-repeat;
    background-size: contain;
  }
  #chromize .dialog .icon-browser {
    background: url("./browser.png") center no-repeat;
    background-size: contain;
  }
  #chromize .dialog .title {
    display: table-cell;
    vertical-align: middle;
    padding-left: 5px;
  }

